$font-family-base: "Roboto", Helvetica, Arial, sans-serif;

$font-family-title: "Monserrat", Helvetica, Arial, sans-serif;

$font-size-base: 16px;

$font-size-xxl: 20px;
$font-size-xl: 19px;
$font-size-l: 18px;
$font-size-s: 14px;
$font-size-s-alt: 13px;
$font-size-xs: 12px;
$font-size-xxs: 11px;

$font-size-title-xxxs: 24px;
$font-size-title-xxs: 30px;
$font-size-title-xs: 40px;
$font-size-title-s: 44px;
$font-size-title-s-alt: 45px;
$font-size-title: 50px;
$font-size-title-l: 60px;
$font-size-title-xl: 82px;

$font-size-counter: 68px;
$font-size-counter-suffix: 29px;

$color-black: #000;

$color-button: #3b3b3b;

$color-charcoal: #333;

$color-light-charcoal: #5b5b5b;

$color-lighter-charcoal: #6a6a6a;

$color-lightest-charcoal: #707070;

$color-gray: #898989;

$color-gray-separator: #838383;

$color-light-gray: #9f9f9f;

$color-lighter-gray: #ccc;

$color-medium-gray: #b7b7b7;

$color-darkish-gray: #acacac;

$color-dark-gray: #a1a1a1;

$color-darker-gray: #797979;

$color-darkest-gray: #434343;

$color-magenta: #ca4266;

$color-light-magenta: #fd979d;

$color-pink: #f97374;

$color-light-pink: #ffc9c9;

$color-yellow: #ffe066;

$color-white: #fff;
